{% extends 'flatpages/default.html' %}
{% block title %}

{% endblock title %}

{% block content %}
    <h1>Все объявления</h1>
    <h3>Всего объявлений: {{ announcements|length }}</h3>

    <hr>
    {% autoescape off %}
    {% if announcements %}

        <table align="center" width="1200">
            <tr>
                <tr>
<!--                    <td> </td>-->
                    <td>Название</td>
                    <td>Описание</td>
                    <td>Дата публикации</td>
                    <td>Автор публикации</td>
                    <td>Категория</td>

                </tr>

                {% for announcement in announcements %}
                    <tr>
                        <td>{{ announcement.title }}</td>
                        <td>{{ announcement.text }}</td>
                        <td>{{ announcement.dateCreation|date:' d M Y' }}</td>
                        <td>{{ announcement.author }}</td>
                        <td>{{ announcement.category }}</td>
                        <td><a href="{{ announcement.get_absolute_url }}">Смотреть объявление</a></td>


                    </tr>
                {% endfor %}


        </table>

    {% else %}
        <h2>Объявлений нет!</h2>
    {% endif %}
    {% endautoescape %}



    {# Информация о предыдущих страницах #}
    {% if page_obj.has_previous %}
        <a href="?page=1">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}

    {# Информация о текущей странице #}

    {{ page_obj.number }}

    {# Информация о следующих страницах #}
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}
{% endblock content %}